<?xml version="1.0" encoding="UTF-8"?>
<!--
	Copyright The WildFly Authors
	SPDX-License-Identifier: Apache-2.0
-->
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:sec="http://www.springframework.org/schema/security" xmlns:hz="http://www.hazelcast.com/schema/spring"
		xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.hazelcast.com/schema/spring http://www.hazelcast.com/schema/spring/hazelcast-spring-5.7.xsd">

	<context:annotation-config/>

	<hz:hazelcast id="instance">
		<hz:config>
			<hz:cluster-name>sessions</hz:cluster-name>
			<hz:jet enabled="true"/>
			<hz:network port="5701" port-auto-increment="true">
				<hz:join>
					<hz:multicast enabled="true"/>
				</hz:join>
			</hz:network>
			<hz:serialization>
				<hz:compact-serialization>
					<hz:serializers>
						<hz:serializer>com.hazelcast.spring.session.AttributeValueCompactSerializer</hz:serializer>
						<hz:serializer>com.hazelcast.spring.session.HazelcastSessionCompactSerializer</hz:serializer>
					</hz:serializers>
				</hz:compact-serialization>
			</hz:serialization>
		</hz:config>
	</hz:hazelcast>

	<bean class="com.hazelcast.spring.session.config.annotation.web.http.HazelcastHttpSessionConfiguration">
	</bean>
</beans>
